
:root {
    --logoColor: #5C2D13;
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F7F1EC ;
}

#logo{
    text-decoration: none;
    color: var(--logoColor);
    margin-left: 5%;
    margin-top: 20px;

  font-family: "Stylish", serif;
  font-weight: 400;
  font-style: bold;
  font-size: 20px;
  text-transform: uppercase;
}
header{
    display: flex;
}
ul a {
    list-style: none;
    text-decoration: none;
    color: #A17860;
    margin-left: 18%;
    font-family: lato,serif;
    
}
a:hover{
    color: #5C2D13;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    padding-left: 18%;
    margin-top: 20px;
}

header .reservar-btn {
    border: none;
    background: linear-gradient(#BEAA93, #C2A284);
    color: #ffff;
    width: 10%;
    height: 35px;
    margin-left: 32%;
    margin-top: 20px;
    font-family: lato,serif;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

.reservar-btn:hover{
    opacity: 0.5;
}

.hero {
    margin-left: 5%;
    text-align: center;
    padding-top: 8.5%;

}

.hero-image{
    width: 500px;
    height: 420px;
    float: right;
    margin-right: 8%;
}

.hero-section {
    margin-top: 5%;
   
}

.hero .logo-span{
  text-decoration: none;
  color: var(--logoColor);
  font-family: "Stylish", serif;
  font-weight: 400;
  font-style: bold;
  font-size: 30px;
  text-transform: uppercase;
  
}

.hero .hero-text {
    font-family: vidaloka, serif;
    text-transform: uppercase;
    color: #66351A;
    font-size: 70px;
    width: 60%;
    margin-top: 15px;
}

.hero-image img{
    object-fit: cover;
    width: 480px;
    height: 450px;
    border-radius: 50% 50% 0 0;
    box-shadow: 0 4px 8px 0 rgba(73, 73, 73, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.hero .reservar-btn-hero{

    border-color: #A17860;
    background: transparent;
    color: #5C2D13;
    width: 14%;
    height: 50px;
    font-family: lato,serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 15px;
    cursor: pointer;
}

.reservar-btn-hero:hover {
opacity: 0.5;
}

/* ABOUT US SECTION*/

.about-us{
    margin-top: 15%;
    display: inline-block;
    margin-bottom: 10%;
}

.about-us img {
width: 50%;
float: left;
margin-right: 6%;
border-radius: 0 5px 5px 0;
box-shadow: 0 4px 8px 0 rgba(73, 73, 73, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

.aboutUs-content h2{

    font-family: vidaloka, serif;
    text-transform: uppercase;
    color: #66351A;
    font-size: 50px;
    text-align: center;
    margin-bottom: 1.5rem;
    
}

.aboutUs-content p {
    font-family: lato, sans-serif;
    color: #45200B;
    line-height: 2rem;
    text-align: justify;

}

.aboutUs-content{
    padding-top: 5%;
    width: 95%;
   
}

/*SERVICES SECTION */


.services-section h2,p{

    text-align: center;
}

.services-section h2
{
    font-family: vidaloka, serif;
    text-transform: uppercase;
    color: #66351A;
    font-size: 50px;
    text-align: center;
    margin-bottom: 2%;

}

.services-section p{
  
    font-family: lato, sans-serif;
    color: #45200B;
    margin-bottom: 3%;
  
}

.services img{
   
    object-fit: cover;
   
}

